<% include ../partials/header %>

<link href="/stylesheets/admin.css" rel="stylesheet" />

<div class="container">
  <form action="/gallery/<%= piano._id %>/addimg?_method=PUT" method="POST" enctype="multipart/form-data">
    <div class="container mt-5">
      <div class="card">
        <div class="card-header text-center">
          <h1 class="card-title">New Piano</h1>
          <h3 class="card-subtitle">Step 2: Add Images</h3>
        </div>
        <div class="card-body">
          <p class="text-center">
            TIP: Use the radio button beneath a photo to select it as
            the image to be displayed in the gallery.
          </p>
          <input type="file" name="images[]" id="images" multiple="multiple" />
          <div class="row" id="list"></div>
        </div>
        <div class="card-footer">
          <form action="/gallery/<%= piano._id %>?_method=DELETE" method="POST">
            <button class="btn btn-secondary">Cancel</button>
          </form>
          <button class="btn btn-success float-right">Finalize</button>
        </div>
      </div>
    </div>
  </form>
</div>

<script src="/javascripts/gallery_new.js"></script>

<% include ../partials/footer %>