<% include ../partials/header %>

<link href="/stylesheets/admin.css" rel="stylesheet" />

<form action="/gallery" method="POST">
  <input type="text" name="title" placeholder="Title" />
  <input type="text" name="make" placeholder="Make" />
  <input type="text" name="model" placeholder="Model" />
  <input type="date" name="year" />
  <select name="category">
    <option value="Grand">Grand</option>
    <option value="Upright">Upright</option>
    <option value="Digital">Digital</option>
    <option value="Player">Player</option>
  </select>
  <input type="text" name="desc" placeholder="Short Description" />
  <textarea name="body" placeholder="Long Form Description"></textarea>
  <input type="number" name="l_price" placeholder="List Price" min="0.01" step="0.01" />
  <input type="number" name="a_price" placeholder="Asking Price" min="0.01" step="0.01" />
  <input type="text" name="yt_url" placeholder="YouTube URL" />
  <button>Next</button>
</form>

<% include ../partials/footer %>