<h1>Init File...</h1>

<form action="/admin/init" method="POST">
  <input type="text" name="name" placeholder="Site Name" />
  <input type="text" name="headImg" placeholder="Header Image" />
  <input type="text" name="footImg" placeholder="Footer Image" />
  <input type="text" name="blogImg" placeholder="Blog Image" />
  <textarea placeholder="Welcome Message"></textarea>
  <input type="text" name="feature[title]" placeholder="Feature Title" />
  <textarea name="feature[body]" placeholder="Feature Text"></textarea>
  <input type="text" name="feature[image]" placeholder="Feature Image" />
  <input type="text" name="feature[url]" placeholder="Feature URL" />
  <input type="submit" name="submit" value="submit" />
</form>

<a href="/admin/comments">View/Edit Comments</a>