<% include ../partials/admin_header %>
<body class="text-center">
  <form action="/admin" method="POST" class="form-signin">
    <img class="mb-4" src="/ms-icon-150x150.png" alt="" width="150" height="150">
    <h1 class="h3 mb-3 font-weight-normal">Please Log In</h1>
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">BHA Logo &copy; 2018 BHA Piano<br />
    All images were found on 
      <a href="http://photosforclass.com/">
        PhotosForClass.com
      </a>. Attribution is included in each image.
    </p>
    <p class="mt-5 mb-3 text-muted">Web Design &copy; 2018 Jay Chasteen</p>
  </form>
  <% include ../partials/admin_footer %>