<div class="fixed-bottom admin-nav p-3">
  <a href="/gallery/new" class="btn btn-warning">New Piano</a>
  <a href="/admin/logout" class="btn btn-danger float-right ml-1">Log Out</a>
  <a href="/admin" class="btn btn-success float-right ml-1">Admin Panel</a>
</div>