<% if (page.admin) { %>
<div class="sticky-top admin-nav p-3">
  <form action="/blog/<%= post._id %>?_method=DELETE" method="POST">
    <a href="/blog/<%= post._id %>/edit" class="btn btn-warning">Edit Post</a>
    <button class="btn btn-danger">Delete Post</button>
    <a href="/admin/logout" class="btn btn-danger float-right ml-1">Log Out</a>
    <a href="/admin" class="btn btn-success float-right ml-1">Admin Panel</a>
  </form>
</div>
<% } else {}%>