<ul class="nav fixed-top bg-white border-bottom">
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <% if (page.title === "Gallery") { %>
  <li class="nav-item">
    <a class="nav-link disabled" href="/gallery">All Pianos</a>
  </li>
  <% } else { %>
  <li class="nav-item">
    <a class="nav-link active" href="/gallery">All Pianos</a>
  </li>
  <% } %>
  <% if (page.title === "Blog") { %>
  <li class="nav-item">
    <a class="nav-link disabled" href="/blog">News</a>
  </li>
  <% } else { %>
  <% } %>
  <li class="nav-item">
    <a class="nav-link" href="#">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Contact</a>
  </li>
  <% if (page.title != "Gallery") { %> 
    <li class="nav-item ml-auto mr-2">
      <img src="/favicon-32x32.png" alt="BHA Piano Center" />
    </li>
  <% } %>
</ul>