# Ignore Node modules
/node_modules
# Do not track images
/public/images
# VS files
/.vs/*
/obj
*.njsproj
# git ignore
/.git
.gitignore
#ignore bootstrap
/public/javascripts/bootstrap/*
#ignore gen files and sandbox

sandbox.js
express-settings.js
