a {
  color: white;
}

a:visited {
  color: white;
}
 
a:hover {
  color: #EEE;
  text-decoration: none;
  text-shadow: 0 0 2px #FFF;
}

.footer {
  padding-left: 10%;
}

.head-img {
  width: 100%;
  padding: 0;
  margin: 0;
}

.overlay {
  color: white;
  text-shadow: 3px 3px 5px black;
  position: absolute;
  top: 25%;
  left: 12%;
}