<% include ../partials/header %>

<link href="/stylesheets/admin.css" rel="stylesheet" />

<div class="container">
  <form action="/blog/<%= post._id %>?_method=PUT" method="POST">
    <div class="card mt-5">
      <h1 class="card-title text-center">Edit Blog Post</h1>
      <div class="card-body">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Title</span>
          </div>
          <input class="form-control" type="text" name="post[title]" value="<%= post.title %>" placeholder="Title" />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Blog Text</span>
          </div>
          <textarea class="form-control" name="post[body]" rows="5" placeholder="Blog text"><%= post.body %></textarea>
        </div>
      </div>
      <div class="card-footer">
        <script>
          document.write('<a class="btn btn-secondary" href="' + document.referrer + '">Cancel</a>');
        </script>
        <button class="btn btn-success float-right">Submit</button>
      </div>
    </div>
  </form>
</div>

<% include ../partials/footer %>