<% include ../partials/header %>

<% if(page.admin){ %>
  <% include ../partials/admin_post %>
  <link href="/stylesheets/admin.css" rel="stylesheet" />
<% } %>
<a href="/blog">Back to Blog</a>

<h1><%= post.title %></h1>
<p><%= post.body %></p>
<p><%= post.date %></p>

<% include ../partials/footer %>